@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-color: 0, 0, 0;
    /*--foreground-rgb: 255, 255, 255;*/
    --background-rgb: 246, 248, 252;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: 255, 255, 255;
        /*--foreground-rgb: 40, 41, 42;*/
        --background-rgb: 31, 31, 31;
    }
}

body {
    color: rgb(var(--font-color));
    background: rgb(var(--background-rgb));
    min-height: 100vh;
}

@layer utilities {
    .text-balance {
        /*text-wrap: balance;*/
    }
}

.StatusBarIcon {
    background-color: #252525;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-size: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
}